<form action="/login" method="post">
    <label for="email">e-mail</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button>LogIn</button>
</form>
<a href="/user/new">SignUp</a>