<div class="pageContainer">

    <form action="/poll" method="post">
        <%# <div class="inputContainer">
            <label for="">Title</label>
            <input type="text" name="title">
        </div> %>
        <div class="inputContainer">
            <label for="">Title</label>
            <input type="text" name="title">
        </div>
        <div class="inputContainer">
            <label for="">Question</label>
            <input type="text" name="question">
        </div>
        <div class="inputContainer">
            <label for="">Choice1</label>
            <input type="text" name="choice1">
        </div>
        <div class="inputContainer">
            <label for="">Choice2</label>
            <input type="text" name="choice2">
        </div>
        <div class="inputContainer">
            <label for="">Choice3</label>
            <input type="text" name="choice3">
        </div>
        <button>Submit</button>
    </form>

</div>