<form action="/poll" method="post">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Question</label>
    <input type="text" name="question">
    <label for="">Choice1</label>
    <input type="text" name="choice1">
    <label for="">Choice2</label>
    <input type="text" name="choice2">
    <label for="">Choice3</label>
    <input type="text" name="choice3">
    <label for="">e-mail</label>
    <input type="text" name="email">
    <button>Submit</button>
</form>