<div class="pageContainer">

<form action="/user" method="post">
    <div class="inputContainer">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name">
    </div>
    <div class="inputContainer">
        <label for="email">e-mail</label>
        <input type="text" name="email">
    </div>
    <div class="inputContainer">
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <button>SignUp</button>
</form>

</div>